parameters:
	ignoreErrors:
		-
			message: '#^Method Karross\\Actions\\Action\:\:httpMethods\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Actions/Action.php

		-
			message: '#^Cannot call method getOption\(\) on Symfony\\Component\\Routing\\Route\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Actions/Index.php

		-
			message: '#^Cannot call method getRepository\(\) on Doctrine\\Persistence\\ObjectManager\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Actions/Index.php

		-
			message: '#^Parameter \#1 \$class of method Doctrine\\Persistence\\ManagerRegistry\:\:getManagerForClass\(\) expects class\-string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/Index.php

		-
			message: '#^Parameter \#1 \$fqcn of method Karross\\Metadata\\Computed\\EntityMetadataRegistry\:\:get\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/Index.php

		-
			message: '#^Parameter \#1 \$name of method Symfony\\Component\\Routing\\RouteCollection\:\:get\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/Index.php

		-
			message: '#^Parameter \#2 \$action of class Karross\\Actions\\ActionContext constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/Index.php

		-
			message: '#^Cannot call method find\(\) on Doctrine\\Persistence\\ObjectManager\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Actions/Show.php

		-
			message: '#^Parameter \#1 \$class of method Doctrine\\Persistence\\ManagerRegistry\:\:getManagerForClass\(\) expects class\-string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/Show.php

		-
			message: '#^Parameter \#1 \$name of method Symfony\\Component\\Routing\\RouteCollection\:\:get\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Actions/Show.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Actions/Show.php

		-
			message: '#^Variable \$config on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/DependencyInjection/KarrossExtension.php

		-
			message: '#^Using nullsafe property access "\?\-\>locale" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Formatters/DateTime/AbstractDateTimeFormatter.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Karross\\Formatters\\FormattingContext\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Formatters/DateTime/DateTimeFormatter.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Formatters/IntlCurrencyFormatter.php

		-
			message: '#^Using nullsafe property access "\?\-\>locale" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Formatters/IntlCurrencyFormatter.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Formatters/IntlNumberFormatter.php

		-
			message: '#^Using nullsafe property access "\?\-\>locale" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Formatters/IntlNumberFormatter.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Formatters/StringFormatter.php

		-
			message: '#^Cannot access offset int\<0, max\> on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Method Karross\\Metadata\\Computed\\EntityMetadata\:\:getActions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Method Karross\\Metadata\\Computed\\EntityMetadata\:\:getExplodedProperties\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Method Karross\\Metadata\\Computed\\EntityMetadata\:\:getPropertyLabelsHierarchy\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Parameter \#1 \$array of function array_slice expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function max expects non\-empty\-array, array\<string, int\<0, max\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Metadata/Computed/EntityMetadata.php

		-
			message: '#^Method Karross\\Responders\\JsonResponder\:\:getResponse\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Responders/JsonResponder.php

		-
			message: '#^Method Karross\\Responders\\ResponderInterface\:\:getResponse\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Responders/ResponderInterface.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Responders/ResponderManager.php

		-
			message: '#^Cannot call method getResponse\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Responders/ResponderManager.php

		-
			message: '#^Cannot call method supports\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Responders/ResponderManager.php

		-
			message: '#^Method Karross\\Responders\\ResponderManager\:\:__construct\(\) has parameter \$responders with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Responders/ResponderManager.php

		-
			message: '#^Method Karross\\Responders\\ResponderManager\:\:getResponse\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Responders/ResponderManager.php

		-
			message: '#^Method Karross\\Responders\\ResponderManager\:\:getResponse\(\) should return Symfony\\Component\\HttpFoundation\\Response but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Responders/ResponderManager.php

		-
			message: '#^Binary operation "\+" between mixed and array\{actionContext\: Karross\\Actions\\ActionContext\} results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Responders/TwigResponder.php

		-
			message: '#^Method Karross\\Responders\\TwigResponder\:\:getResponse\(\) has parameter \$data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Responders/TwigResponder.php

		-
			message: '#^Parameter \$methods of class Symfony\\Component\\Routing\\Route constructor expects array\<string\>\|string, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Routes/RouteGenerator.php

		-
			message: '#^Method Karross\\Twig\\PropertyAccessorExtension\:\:getFormattedValue\(\) has parameter \$entity with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Twig/PropertyAccessorExtension.php

		-
			message: '#^Method Karross\\Twig\\PropertyAccessorExtension\:\:getValue\(\) has parameter \$entity with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Twig/PropertyAccessorExtension.php

		-
			message: '#^Parameter \#1 \$objectOrArray of method Symfony\\Component\\PropertyAccess\\PropertyAccessor\:\:getValue\(\) expects array\|object, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Twig/PropertyAccessorExtension.php

		-
			message: '#^Method Karross\\Twig\\StringableExtension\:\:asString\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Twig/StringableExtension.php

		-
			message: '#^Method Karross\\Twig\\UrlBuilderExtension\:\:getUrl\(\) has parameter \$entity with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Twig/UrlBuilderExtension.php

		-
			message: '#^Parameter \#1 \$objectOrArray of method Symfony\\Component\\PropertyAccess\\PropertyAccessor\:\:getValue\(\) expects array\|object, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Twig/UrlBuilderExtension.php

		-
			message: '#^Call to an undefined method object\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Cannot call method getRouteCollection\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Method Integration\\Routes\\LoaderTest\:\:testRoutesAreLoaded\(\) has parameter \$configFilenames with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Method Integration\\Routes\\LoaderTest\:\:testRoutesCannotBeLoaded\(\) has parameter \$configFilenames with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(string\)\: string given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Parameter \#1 \$exception of method PHPUnit\\Framework\\TestCase\:\:expectException\(\) expects class\-string\<Throwable\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Parameter \#1 \$value of static method Karross\\Actions\\Action\:\:from\(\) expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Integration/Routes/LoaderTest.php

		-
			message: '#^Property TestedApp\\Domain\\Entity\\Article\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Integration/TestedApp/Domain/Entity/Article.php

		-
			message: '#^Method TestedApp\\Entity\\Article\:\:getTags\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Integration/TestedApp/Entity/Article.php

		-
			message: '#^Method TestedApp\\Entity\\Article\:\:setTags\(\) has parameter \$tags with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Integration/TestedApp/Entity/Article.php

		-
			message: '#^Property TestedApp\\Entity\\Article\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Integration/TestedApp/Entity/Article.php

		-
			message: '#^Property TestedApp\\Entity\\Article\:\:\$tags \(array\<string\>\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/TestedApp/Entity/Article.php

		-
			message: '#^Property TestedApp\\Entity\\Category\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Integration/TestedApp/Entity/Category.php

		-
			message: '#^Method TestedApp\\Kernel\:\:__construct\(\) has parameter \$configFiles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Integration/TestedApp/Kernel.php

		-
			message: '#^Property TestedApp\\Unhandled\\Entity\\Item\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Integration/TestedApp/Unhandled/Entity/Item.php
