<table class="k-table" border="1">
    <thead>
        {% for row in entityMetadata.getPropertyLabelsHierarchy() %}
            <tr>
                {% for fieldLabel in row %}
                    <th colspan="{{ colspan(fieldLabel) }}" rowspan="{{ rowspan(fieldLabel, entityMetadata) }}">
                        {{ translate(fieldLabel, actionContext) }}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                {% include '@Karross/index/item.html.twig' with { item: item } %}
            </tr>
        {% endfor %}
    </tbody>
</table>
