<table class="k-table" border="1">
    <thead>
        <tr>
            {% for field in entityMetadata.getFields() %}
                <th>{{ field|title }}</th>
            {% endfor %}
            {% for associationClass, associations in entityMetadata.getAssociations() %}
                {% for associationName, association in associations %}
                    <th>{{ association.name }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                {% for field in entityMetadata.getFields() %}
                    <td>
                        {% include '@Karross/index/field.html.twig' with { field: field, item: item } %}
                    </td>
                {% endfor %}
                {% for associationClass, associations in entityMetadata.getAssociations() %}
                    {% for associationName, association in associations %}
                        <td>
                            {% include '@Karross/index/association.html.twig' with { association: association, item: item } %}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

