<table class="k-table" border="1">
    <thead>
        <tr>
            {% for property in entityMetadata.getProperties() %}
                <th>{{ property.name|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                {% include '@Karross/index/item.html.twig' with { item: item } %}
            </tr>
        {% endfor %}
    </tbody>
</table>

