{% block body %}
    <h1>Index {{ entityMetadata.slug }}</h1>

    {% if items is empty %}
        {% include '@Karross/index/no_items.html.twig' %}
    {% else %}
        {% include getEntityTemplate(entityMetadata.slug, 'index', 'items') %}
    {% endif %}
{% endblock %}
