<table class="k-table">
    <thead>
        <tr>
            {% for field in entityMetadata.getFields() %}
                <th>{{ field|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                {% for field in entityMetadata.getFields() %}
                    <td>
                        {% include '@Karross/index/field.html.twig' with { field: field, item: item } %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

