<ul>
    {% for item in items %}
        <li>
            {% include '@Karross/index/item.html.twig' %}
        </li>
    {% endfor %}
</ul>
{#<table border="1">#}
{#    <thead>#}
{#        <tr>#}
{#            <th rowspan="2">id</th>#}
{#            <th rowspan="2">title</th>#}
{#            <th colspan="2">identity</th>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>firstname</th>#}
{#            <th>lastname</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        <tr>#}
{#            <td>1</td>#}
{#            <td>My Article</td>#}
{#            <td>John</td>#}
{#            <td>Doe</td>#}
{#        </tr>#}
{#    </tbody>#}
{#</table>#}
